/* Загальний контейнер, який буде застосовуватісь у всіх секціях. Йому завдані: фіксована шіріна, автовирівнювання всього контейнера по цетру сторінки та внутрішні відступи справа та зліва */

.container {
  display: flex;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
