.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop-on {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 288px;
  min-height: 623px;
  background-color: var(--dairy);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 72px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  padding: 0;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  line-height: 0;
  border-radius: 50%;
  background-color: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--white);
}

.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.input-field {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 34px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.modal-label-container {
  margin-bottom: 8px;
}

.modal-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: var(--iris);
}

.input-div {
  position: relative;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-field:focus + .modal-icons {
  fill: var(--iris);
}

.comment-area {
  margin-bottom: 16px;
}

.comment-text-area {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.comment-text-area:focus {
  border-color: var(--iris);
}

.comment-text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--navy-blue-modal);
}

.checkbox-main-container {
  margin-bottom: 24px;
}

.check-label {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-privacy-link {
  color: var(--iris);
}

.privacy-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-acception:checked + .check-label > .privacy-own-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  background-color: var(--iris);
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;

    padding-left: 23px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1158px) {
  .modal-window {
    padding-left: 24px;
    padding-right: 24px;
  }
}
